{% extends 'Navbar/teamleadnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-left">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <P>Are you sure you want to delete "{{task_details.Task_Title}}"?</P>
                    <form method="post" action="{% url 'teamleadmodule:delete_task_details' task_details.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>