{% extends 'Navbar/projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
{% block body %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>alert("{{ message }}")</script>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="text-center">Register</h1>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'signup1' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="length:TeamLead_id:4/TeamMate_id:10" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Confirm Password</label>
                            <input type="password" name="password1" id="password1" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #37DA1A;">Submit</button>
                            <button type="reset" class="btn btn-secondary btn-lg btn-block" style="background-color: #1AC6DA;">Clear</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
